/* Font Style */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Universal CSS */

* {
    max-width: 1580px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar css */

nav {
    position: sticky;
    top: 0;
    margin: auto;
    display: flex;
    height: 80px;
    background: #FFF4E7;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    flex-wrap: wrap;
}

nav .logo {
    font-size: 30px;
    font-weight: 900;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #111;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background: #FF900E;
    color: #fff;
}

nav .menu-btn i {
    color: #111;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/* Header Section */

.content {

    height: auto;
    margin: auto;
    padding: 0 50px 10px 50px;
    background-color: #FFF4E7;
}

.header-text {
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px
}

.header-p {
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
}

.header-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.explore-button {
    background-color: #FF900E;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
}

.header-image {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* 1st Section */

.first-section {
    
    margin: auto;
    padding: 0px 60px 0px 60px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.section-text {
    font-size: 30px;
    line-height: 40px;
}

.first-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    align-items: center;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.team-img {
    width: 280px;
}

.btn {
    margin-top: 20px;
}

/* 2nd Section */

.second-section {
    
    margin: auto;
    padding: 0 50px 0 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.second-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
    align-items: center;
}

.second-text {
    font-size: 40px;
    line-height: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.box {
    box-shadow: 5px 5px 14px #e0dede;
    padding: 18px;
    margin-top: 20px;
}

.year-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-btn {
    margin-top: -70px;
    margin-left: 80px;
    background-color: #FF900E;
    color: white;
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    font-size: 28px;
    line-height: 25px;
}

/* 3rd Section */

.third-section {
    
    margin: auto;
    padding: 0 50px 0 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.icon-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    margin-top: 30px;
}

.single-icon {
    border: 3px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.single-icon img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.single-icon:hover img{
    transform: scale(1.5);
}